@model SpotMapProject.Models.AspNetSpotEdit
<hr />
@if (ViewBag.Request == "Already Sent!")
{
    <div class="alert alert-warning">
        <h1>Request Status:@ViewBag.Request</h1>
    </div>
}
else
{
    <div class="alert alert-success">
        <h1 >Request Status:@ViewBag.Request</h1>
        </div>
        }

        <hr />

