@model SpotMapProject.Models.AspNetSpotPhoto
<hr />
@using (Html.BeginForm("UpdateImage", "Spot", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image</label>
    <input type="file" name="file" id="file" style="width: 100%;" />
    <br />
    @Html.Hidden("spot_id", Request.Params["spot_id"]);
    @Html.Hidden("img_id", Request.Params["img_id"]);
    <input type="submit" value="Update Image" class="btn btn-default" />
    
}
    <hr>